
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="youngpilots.vn,youngpilots,design,website,web design,mobile,mobile web,ecommerce,e-commerce,android,iphone,ios,graphics,portfolio,app,app design,thiet ke,thiết kế" name="keywords">
<meta content="My name is Duc Anh, Alot of my friends call me or know me as Anh Bui. I am a Graphic Designer and front-end developer living on the beautiful Hanoi city of Vietnam, and I am very passionate about what I do. I hope you like my works and I would definitely love to hear from you! Email: mr.anhbui69@gmail.com. Portfolio: https://www.behance.net/buiducanh . Website: http://youngpilots.vn" name="description">
<title>TVoD.vn</title>
  
  
  
    
    
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet prefetch" href="css/bootstrap.min.css">
    <link href="css/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.css">
    
    <link rel="stylesheet" href="css/responsive.css">
    

  
</head>

<body>
   <header class="main_h sticky">

      <section class="head-content">

        <a class="logo" href="#"><img src="images/TVoD.png" class="svg-logo" /></a>

      <div class="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="header-navigation responsive-header">

        <div class="center-menu-content">

          <div class="close-about-section">
            <svg class="svg-close" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" viewBox="0 0 1024 1024">
              <g id="icomoon-ignore">
              </g>
              <path d="M626.784 512.032l195.072 195.072c12.672 12.672 12.672 33.248 0 45.92l-68.832 68.832c-12.672 12.672-33.216 12.672-45.92 0l-195.104-195.072-195.104 195.072c-12.672 12.672-33.216 12.672-45.888 0l-68.864-68.832c-12.672-12.672-12.672-33.216 0-45.92l195.104-195.072-195.104-195.104c-12.672-12.672-12.672-33.248 0-45.92l68.896-68.832c12.672-12.672 33.216-12.672 45.888 0l195.072 195.104 195.104-195.104c12.672-12.672 33.216-12.672 45.92 0l68.832 68.864c12.672 12.672 12.672 33.216 0 45.92l-195.072 195.072z"></path>
            </svg>
          </div>
          <nav>

            <ul>
              <li><a href="index.html">Trang chủ</a></li>
              <li><a href="live.html">Truyền hình</a></li>
              <li><a href="index.html">Nội dung</a></li>
              <li><a href="guide.html">Hướng dẫn</a></li>
              <li><a href="index.html">Khuyến mại</a></li>
              <li><a href="index.html">Liên hệ</a></li>
              <li><a href="acc.html" class="current">Tài khoản</a></li>
            </ul> 

          </nav>
        </div>
      </div>
    </section>

  </header>


	<div class="link_map">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Tài khoản</li>
            </ol>
        </div>
    </div>
    
    
    
    <div class="bg-acc mt20">
    	<div class="container acc-page">
    		<h3>Hệ thống nạp tiền TVoD</h3>
    		<div class="container">
    			<div class="col-md-1"></div>
    			<div class="col-md-10">
    				<div class="container-fluid">
    					<div class="col-md-5">
    						<a href="" data-toggle="modal" data-target="#exampleModal"><img src="images/btn-thongtintk.png" class="img-responsive mb20"/></a>
    					</div>
    					<div class="col-md-2"></div>
    					<div class="col-md-5">
    						<a href="" data-toggle="modal" data-target="#exampleModal1"><img src="images/btn-naptien.png" class="img-responsive mb20" /></a>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-1"></div>
    		</div>
    	</div>
    </div>


  
  <div class="footer">
  		<div class="content-1" style="padding-bottom:20px;">
        	<div class="row">
            	<div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Giới thiệu</h3>
                    <ul>
                    	<li><i class="fa fa-map-marker"></i> 124 - Hoàng Quốc Việt, Cầu Giấy, HN</li>
                        <li><i class="fa fa-phone"></i> Điện thoại: 1900 1525 - (+84) 4 3750 6666</li>
                        <li><i class="fa fa-fax"></i> Fax: (+84) 4 3784 0925</li>
                        <li><i class="fa fa-globe"></i> Website: <a href="http://www.vnpt-technology.vn">www.vnpt-technology.vn</a></li>
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Dịch vụ</h3>
                    <ul>
                    	<li><i class="fa fa-caret-right"></i> Truyền Hình</li>            
                        <li><i class="fa fa-caret-right"></i> Phim</li>
                        <li><i class="fa fa-caret-right"></i> Truyền Hình Xem Lại</li>
                        <li><i class="fa fa-caret-right"></i> Radio</li>
                        <li><i class="fa fa-caret-right"></i> Karaoke</li>
                        <li><i class="fa fa-caret-right"></i> Âm Nhạc</li>
                        
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<ul style="margin-top:60px;">
                    	<li><i class="fa fa-caret-right"></i> Clip</li>            
                        <li><i class="fa fa-caret-right"></i> App Store</li>
                        <li><i class="fa fa-caret-right"></i> Góc Gia Đình</li>
                        <li><i class="fa fa-caret-right"></i> Góc Giáo Dục</li>
                        <li><i class="fa fa-caret-right"></i> Góc Cho Bé</li>
                        <li><i class="fa fa-caret-right"></i> Góc Người Cao Tuồi</li>
                        
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Hỗ trợ</h3>
                    <ul>
                    	<li><i class="fa fa-caret-right"></i> Hướng dẫn sử dụng</li>            
                        <li><i class="fa fa-caret-right"></i> Danh sách đại lý</li>
                        <li><i class="fa fa-caret-right"></i> Bảo hành</li>
                        <li><i class="fa fa-caret-right"></i> Đặt hàng</li>
                    </ul>
                    
                    <p class="social"><i class="fa fa-facebook-square"></i> <i class="fa fa-youtube-square"></i> <i class="fa fa-twitter-square"></i> <i class="fa fa-google-plus-square"></i> </p>
                 </div>
            </div>
        </div>
  </div>
  <div class="footer-bottom">
  		<p>2017 Copyright © TVOD</p>
  </div>


<div id="exampleModal" class="modal fade modalDA">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nhập địa chỉ MAC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        	Quý khách vui lòng nhập địa chỉ MAC của Smartbox đang sử dụng! <br/>
        	(Xem thông tin địa chỉ MAC trên vỏ thiết bị hoặc trên ứng dụng - Phần cài đặt)
        </p>
        <form>
        	<span class="alert bg_green"><i class="fa fa-check-circle" aria-hidden="true"></i>Quý khách đã đăng nhập thành công.</span>
         	<span class="alert bg_red"><i class="fa fa-times"></i>Địa chỉ MAC không đúng, quý khách vui lòng nhập lại !</span>
          <div class="form-group">
            <label for="MAC-name" class="form-control-label"></label>
            <input type="text" class="form-control" id="MAC-name" placeholder="Nhập địa chỉ MAC">
          </div>
		</form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="window.location.href='acc-info.html'">Xác nhận</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
      </div>
    </div>
  </div>
</div>

<div id="exampleModal1" class="modal fade modalDA">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nhập địa chỉ MAC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        	Quý khách vui lòng nhập địa chỉ MAC của Smartbox đang sử dụng! <br/>
        	(Xem thông tin địa chỉ MAC trên vỏ thiết bị hoặc trên ứng dụng - Phần cài đặt)
        </p>
        <form>
        	<span class="alert bg_green"><i class="fa fa-check-circle" aria-hidden="true"></i>Quý khách đã đăng nhập thành công.</span>
         	<span class="alert bg_red"><i class="fa fa-times"></i>Quý khách đã nhập sai địa chỉ MAC quá 5 lần, vui lòng truy cập lại chức năng này sau 3 phút</span>
          <div class="form-group">
            <label for="MAC-name" class="form-control-label"></label>
            <input type="text" class="form-control" id="MAC-name" placeholder="Nhập địa chỉ MAC">
          </div>
		</form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="window.location.href='recharge.html'">Xác nhận</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
      </div>
    </div>
  </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>




</body>
</html>
