
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="youngpilots.vn,youngpilots,design,website,web design,mobile,mobile web,ecommerce,e-commerce,android,iphone,ios,graphics,portfolio,app,app design,thiet ke,thiết kế" name="keywords">
<meta content="My name is Duc Anh, Alot of my friends call me or know me as Anh Bui. I am a Graphic Designer and front-end developer living on the beautiful Hanoi city of Vietnam, and I am very passionate about what I do. I hope you like my works and I would definitely love to hear from you! Email: mr.anhbui69@gmail.com. Portfolio: https://www.behance.net/buiducanh . Website: http://youngpilots.vn" name="description">
<title>TVoD.vn</title>
  
  
  
    
    
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet prefetch" href="css/bootstrap.min.css">
    <link href="css/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.css">
    
	<link rel="stylesheet" href="css/responsive.css">
  
</head>

<body>
   <header class="main_h sticky">

      <section class="head-content">

        <a class="logo" href="#"><img src="images/TVoD.png" class="svg-logo" /></a>

      <div class="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="header-navigation responsive-header">

        <div class="center-menu-content">

          <div class="close-about-section">
            <svg class="svg-close" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" viewBox="0 0 1024 1024">
              <g id="icomoon-ignore">
              </g>
              <path d="M626.784 512.032l195.072 195.072c12.672 12.672 12.672 33.248 0 45.92l-68.832 68.832c-12.672 12.672-33.216 12.672-45.92 0l-195.104-195.072-195.104 195.072c-12.672 12.672-33.216 12.672-45.888 0l-68.864-68.832c-12.672-12.672-12.672-33.216 0-45.92l195.104-195.072-195.104-195.104c-12.672-12.672-12.672-33.248 0-45.92l68.896-68.832c12.672-12.672 33.216-12.672 45.888 0l195.072 195.104 195.104-195.104c12.672-12.672 33.216-12.672 45.92 0l68.832 68.864c12.672 12.672 12.672 33.216 0 45.92l-195.072 195.072z"></path>
            </svg>
          </div>
          <nav>

            <ul>
              <li><a href="index.html">Trang chủ</a></li>
              <li><a href="live.html">Truyền hình</a></li>
              <li><a href="index.html">Nội dung</a></li>
              <li><a href="guide.html"  class="current">Hướng dẫn</a></li>
              <li><a href="index.html">Khuyến mại</a></li>
              <li><a href="index.html">Liên hệ</a></li>
              <li><a href="acc.html">Tài khoản</a></li>
            </ul> 

          </nav>
        </div>
      </div>
    </section>

  </header>
  <div class="banner-bg">
  	<div class="content">
    	<div class="slider">
          <div class="slide_viewer">
            <div class="slide_group">
              <div class="slide">
              	<img src="images/banner/01.jpg"/>
              </div>
              <div class="slide">
              	<img src="images/banner/02.jpg"/>
              </div>
              <div class="slide">
              	<img src="images/banner/03.jpg"/>
              </div>
              <div class="slide">
              	<img src="images/banner/05.jpg"/>
              </div>
              
            </div>
          </div>
        </div><!-- End // .slider -->

		<div class="slide_buttons"></div>

        <div class="directional_nav">
          <div class="previous_btn" title="Previous">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
              <g>
                <g>
                  <path fill="#474544" d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
                    c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"/>
                  <path fill="#474544" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
                </g>
              </g>
            </svg>
          </div>
          <div class="next_btn" title="Next">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
              <g>
                <g>
                  <path fill="#474544" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5	c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288	c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
                  <path fill="#474544" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
                </g>
              </g>
            </svg>
          </div>
        </div><!-- End // .directional_nav -->
        
  	</div>
  </div>
  
  <br/>
  <section class="content-block">
    	<div class="container">
    		<div class="guide" style="font-family: 'RobotoCondensed-Regular'; ">
    			<h2 style="text-align: center; color: #0070b9 !important; font-size: 20px; text-transform: uppercase; font-weight: bold;">HƯỚNG DẪN ĐĂNG KÝ TÀI KHOẢN DỊCH VỤ TVOD</h2>
				<p style="font-size: 16px;">Chức năng đăng ký tài khoản cho phép người dùng có thể đăng ký một tài khoản thuê bao mới ngay trên thiết bị SMB của mình. </p>  	
    			<h3 style="font-size: 18px; text-transform: uppercase; text-align: left; color: #0070b9;">1. Đăng ký tài khoản</h3>
				<h3 style="font-size: 18px; font-weight: 600; text-align: left; ">1.1. Đăng ký tài khoản từ mục Setting trên giao diện Launcher</h3>
    			<p style="font-size: 16px;">Trên giao diện <span style="color: crimson">“Launcher”</span>, người dùng vào mục <span style="color: crimson">“Setting”</span>  <i class="fa fa-arrow-right"></i>  Hiển thị cửa sổ Setting như hình bên dưới</p>
				<p style="text-align: center;">
					<img src="images/huongdan/01.png" width="60%" style="margin-bottom: 10px;"/>
					<br/>
					<em>Cửa sổ Setting </em>
				</p>	
				<p style="font-size: 16px;">Người dùng chọn nút <span style="color: crimson">“Đăng ký tài khoản”</span> trong cửa sổ Setting <i class="fa fa-arrow-right"></i> Hiển thị cửa sổ Đăng nhập như hình bên dưới</p>
				<p style="text-align: center;">
					<img src="images/huongdan/02.png" width="60%" style="margin-bottom: 10px;"/>
					<br/>
					<em>Cửa sổ Đăng nhập</em>
				</p>
				<p style="font-size: 16px;">Để đăng ký tài khoản, người dùng ấn nút <span style="color: crimson">“Tại đây”</span> trong cửa sổ Đăng nhập <i class="fa fa-arrow-right"></i> Hiển thị cửa sổ Đăng ký tài khoản như hình bên dưới</p>
				<p style="text-align: center;">
					<img src="images/huongdan/03.png" width="60%" style="margin-bottom: 10px;"/>
					<br/>
					<em>Cửa sổ Đăng ký tài khoản</em>
				</p>
				<p style="font-size: 16px;">Người dùng thực hiện thao tác đăng ký tài khoản theo các bước <span style="color: crimson">“Hướng dẫn đăng ký tài khoản”</span> ở cột bên phải trong cửa sổ <span style="color: crimson">“Đăng ký tài khoản”</span> như sau:</p>
				<p style="font-size: 16px;"> <i class="fa fa-caret-right"> </i> <span style="font-weight: 600;">Bước 1:</span> Nhập tên truy nhập.</p>
				<p style="font-size: 16px;"> <i class="fa fa-caret-right"> </i> <span style="font-weight: 600;">Bước 2:</span> Nhập số điện thoại di động và ấn nút <span style="color: crimson">“Nhận mã xác thực” </span>. Mã xác thực sẽ được gửi về số điện thoại đã đăng ký.</p>
				<p style="font-size: 16px;">  <span style="font-weight: 600;">Lưu ý:</span>
					</br> - Mã xác thực chỉ có hiệu lực trong vòng 5 phút. Quá 5 phút thì người dùng phải ấn lại nút “Nhận mã xác thực”.
					</br> -	Một số điện thoại chỉ được đăng ký cho 3 tài khoản. Nếu số điện thoại người dùng nhập để đăng ký tài khoản thứ 4, hệ thống sẽ hiển thị thông báo “Số điện thoại đã đăng ký cho tài khoản khác. Vui lòng dùng số điện thoại khác”.
					</br> - Hệ thống sẽ hiển thị thông báo “Tên truy nhập bị trùng tài khoản. Quý khách vui lòng dùng tên truy nhập khác” nếu tên truy nhập khách hàng đăng ký bị trùng với tài khoản đã có trên hệ thống.
				</p>
				<p style="font-size: 16px;"> <i class="fa fa-caret-right"> </i> <span style="font-weight: 600;">Bước 3:</span> Nhập mã xác thực và ấn nút <span style="color: crimson">“Hoàn tất”</span> để kết thúc quá trình đăng ký.</p>
				<h3 style="font-size: 18px; font-weight: 600; text-align: left; ">1.2. Đăng ký tài khoản khi người dùng truy cập vào nội dung có thu phí của dịch vụ TVoD.</h3>
				<p style="font-size: 16px;"> Khi người dùng truy cập vào bất cứ nội dung có thu phí của dịch vụ TVoD thì sẽ hiển thị ngay cửa sổ <span style="color: crimson">“Đăng nhập”</span>.</p>
				<p style="font-size: 16px;"> Người dùng thực hiện các thao tác như hướng dẫn ở mục <span style="color: crimson">“Đăng ký tài khoản từ mục Setting trên giao diện Launcher”</span> để đăng ký tài khoản.</p>
    			<h3 style="font-size: 18px; text-transform: uppercase; text-align: left; color: #0070b9;">2. Đăng nhập</h3>
				<p style="font-size: 16px;"> Sau khi đăng ký tài khoản thành công, hệ thống sẽ cho phép người dùng tự động đăng nhập để sử dụng nội dung có thu phí của dịch vụ TVoD.</p>
				<p style="font-size: 16px;"> Nếu người dùng tạo tài khoản từ mục Setting trên Launcher, sau khi đăng ký tài khoản thành công, hệ thống sẽ tự động đăng nhập và trên giao diện Setting sẽ xuất hiện tên Tài khoản vừa đăng ký như hình sau:</p>
				<p style="text-align: center;">
					<img src="images/huongdan/04.png" width="60%" style="margin-bottom: 10px;"/>
					<br/>
				</p>
				<p style="font-size: 16px;">Nếu người dùng đăng ký tài khoản khi truy cập một nội dung có thu phí của dịch vụ TVoD, sau khi đăng ký tài khoản thành công, hệ thống sẽ tự động đăng nhập và trên màn hình sẽ hiển thị giao diện nội dung truy cập lúc đăng ký tài khoản.</p>
				<p style="font-size: 16px;">Sau khi hệ thống thực hiện tính năng tự động đăng nhập, hệ thống sẽ tự động lưu lại thông tin tài khoản và người dùng sẽ không được quyền đăng xuất.</p>
				<br/>
				<p style="font-size: 16px; color: crimson; font-weight: 600; "> <i class="fa fa-caret-right"> </i> Ghi chú: Vui lòng liên hệ Tổng Đài CSKH 1900 1525, nhánh số 3 để được hỗ trợ.</p>
				
				
				
			</div>
    	</div><!-- /.container -->
	</section>
  
  
  
  <div class="footer">
  		<div class="content-1" style="padding-bottom:20px;">
        	<div class="row">
            	<div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Giới thiệu</h3>
                    <ul>
                    	<li><i class="fa fa-map-marker"></i> 124 - Hoàng Quốc Việt, Cầu Giấy, HN</li>
                        <li><i class="fa fa-phone"></i> Điện thoại: 1900 1525 - (+84) 4 3750 6666</li>
                        <li><i class="fa fa-fax"></i> Fax: (+84) 4 3784 0925</li>
                        <li><i class="fa fa-globe"></i> Website: <a href="http://www.vnpt-technology.vn">www.vnpt-technology.vn</a></li>
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Dịch vụ</h3>
                    <ul>
                    	<li><i class="fa fa-caret-right"></i> Truyền Hình</li>            
                        <li><i class="fa fa-caret-right"></i> Phim</li>
                        <li><i class="fa fa-caret-right"></i> Truyền Hình Xem Lại</li>
                        <li><i class="fa fa-caret-right"></i> Radio</li>
                        <li><i class="fa fa-caret-right"></i> Karaoke</li>
                        <li><i class="fa fa-caret-right"></i> Âm Nhạc</li>
                        
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<ul style="margin-top:60px;">
                    	<li><i class="fa fa-caret-right"></i> Clip</li>            
                        <li><i class="fa fa-caret-right"></i> App Store</li>
                        <li><i class="fa fa-caret-right"></i> Góc Gia Đình</li>
                        <li><i class="fa fa-caret-right"></i> Góc Giáo Dục</li>
                        <li><i class="fa fa-caret-right"></i> Góc Cho Bé</li>
                        <li><i class="fa fa-caret-right"></i> Góc Người Cao Tuồi</li>
                        
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Hỗ trợ</h3>
                    <ul>
                    	<li><i class="fa fa-caret-right"></i> Hướng dẫn sử dụng</li>            
                        <li><i class="fa fa-caret-right"></i> Danh sách đại lý</li>
                        <li><i class="fa fa-caret-right"></i> Bảo hành</li>
                        <li><i class="fa fa-caret-right"></i> Đặt hàng</li>
                    </ul>
                    
                    <p class="social"><i class="fa fa-facebook-square"></i> <i class="fa fa-youtube-square"></i> <i class="fa fa-twitter-square"></i> <i class="fa fa-google-plus-square"></i> </p>
                 </div>
            </div>
        </div>
  </div>
  <div class="footer-bottom">
  		<p>2017 Copyright © TVOD</p>
  </div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>

</body>
</html>
