<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="youngpilots.vn,youngpilots,design,website,web design,mobile,mobile web,ecommerce,e-commerce,android,iphone,ios,graphics,portfolio,app,app design,thiet ke,thiết kế" name="keywords">
<meta content="My name is Duc Anh, Alot of my friends call me or know me as Anh Bui. I am a Graphic Designer and front-end developer living on the beautiful Hanoi city of Vietnam, and I am very passionate about what I do. I hope you like my works and I would definitely love to hear from you! Email: mr.anhbui69@gmail.com. Portfolio: https://www.behance.net/buiducanh . Website: http://youngpilots.vn" name="description">
<title>TVoD.vn</title>
  
  
  
    
    
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet prefetch" href="css/bootstrap.min.css">
    <link href="css/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.css">
    
	<link rel="stylesheet" href="css/responsive.css">
  
</head>

<body>
   <header class="main_h sticky">

      <section class="head-content">

        <a class="logo" href="#"><img src="images/TVoD.png" class="svg-logo" /></a>

      <div class="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="header-navigation responsive-header">

        <div class="center-menu-content">

          <div class="close-about-section">
            <svg class="svg-close" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" viewBox="0 0 1024 1024">
              <g id="icomoon-ignore">
              </g>
              <path d="M626.784 512.032l195.072 195.072c12.672 12.672 12.672 33.248 0 45.92l-68.832 68.832c-12.672 12.672-33.216 12.672-45.92 0l-195.104-195.072-195.104 195.072c-12.672 12.672-33.216 12.672-45.888 0l-68.864-68.832c-12.672-12.672-12.672-33.216 0-45.92l195.104-195.072-195.104-195.104c-12.672-12.672-12.672-33.248 0-45.92l68.896-68.832c12.672-12.672 33.216-12.672 45.888 0l195.072 195.104 195.104-195.104c12.672-12.672 33.216-12.672 45.92 0l68.832 68.864c12.672 12.672 12.672 33.216 0 45.92l-195.072 195.072z"></path>
            </svg>
          </div>
          <nav>

            <ul>
              <li><a href="index.html">Trang chủ</a></li>
              <li><a href="live.html" class="current">Truyền hình</a></li>
              <li><a href="index.html">Nội dung</a></li>
              <li><a href="guide.html">Hướng dẫn</a></li>
              <li><a href="index.html">Khuyến mại</a></li>
              <li><a href="index.html">Liên hệ</a></li>
              <li><a href="acc.html">Tài khoản</a></li>
            </ul> 

          </nav>
        </div>
      </div>
    </section>

  </header>
  <div class="banner-bg">
  	<div class="content">
    	<div class="slider">
          <div class="slide_viewer">
            <div class="slide_group">
              <div class="slide">
              	<img src="images/banner/01.jpg"/>
              </div>
              <div class="slide">
              	<img src="images/banner/02.jpg"/>
              </div>
              <div class="slide">
              	<img src="images/banner/03.jpg"/>
              </div>
              <div class="slide">
              	<img src="images/banner/04.jpg"/>
              </div>
              <div class="slide">
              	<img src="images/banner/05.jpg"/>
              </div>
              
            </div>
          </div>
        </div><!-- End // .slider -->

		<div class="slide_buttons"></div>

        <div class="directional_nav">
          <div class="previous_btn" title="Previous">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
              <g>
                <g>
                  <path fill="#474544" d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
                    c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"/>
                  <path fill="#474544" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
                </g>
              </g>
            </svg>
          </div>
          <div class="next_btn" title="Next">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
              <g>
                <g>
                  <path fill="#474544" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5	c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288	c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
                  <path fill="#474544" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
                </g>
              </g>
            </svg>
          </div>
        </div><!-- End // .directional_nav -->
        
  	</div>
  </div>
  
  <br/>
  <section class="content-block">
    	<div class="container">
    	
			<ul class="nav nav-tabs text-center" role="tablist" id="myTab">
					<li class="active"><a href="#tab1" role="tab" data-toggle="tab">GÓI MIỄN PHÍ</a></li>
					<li class=""><a href="#tab2" role="tab" data-toggle="tab">GÓI CAO CẤP</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade active in" id="tab1">
					
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6"><img src="images/banner-goi-mienphi.png" class="img-responsive"/></div>
							<div class="col-md-3"></div>
						</div>	
   	
						<h3 class="title">Kênh thiết yếu</h3>

						<div id="Gallery">
							<div class="gallery-item">
							<a href="">
								<img src="images/kenh_thiet_yeu/icon_channel_quoc-phong-vn_145673312681.jpg" alt=""/>
							</a>
						  </div>
						   <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/icon_channel_quoc-hoi-hd_145578230854.png" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_thiet_yeu/icon_channel_antv_145673317781.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/1.jpg" alt=""/></a>
						  </div>
						   <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/icon_channel_truyen-hinh-nhan-dan_146882755673.jpg" alt=""/></a>
						  </div>

						  <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/icon_channel_vtv1-hd_148005282771.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/icon_channel_vtc1_14567301764.jpg" alt=""/></a>
						  </div>




						</div>

						<h3 class="title">Kênh VTV</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_vtv/icon_channel_vtv1-hd_148005282771.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/icon_channel_vtv2_148005172028.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/icon_channel_vtv3-hd_148005281932.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/icon_channel_vtv4_145673033292.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/1.jpg" alt=""/></a>
						  </div>



						</div>

						<h3 class="title">Kênh HTV-HTVC</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_htv_htvc/icon_channel_htv1_145672763786.jpg" alt=""/>

							</a>
						  </div>
						 
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htv3_145672766359.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htv4_145672776087.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/5.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/3.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htvc-thuan-viet-sd_145578233591.png" alt=""/></a>
						  </div>	
							


						</div>
						<!--
						<h3 class="title">Kênh Nước Ngoài</h3>
						
						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_nuoc_ngoai/1_axn.jpg" alt=""/>
								<div class="key"><i class="fa fa-lock"></i></div>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/2_fashionTV.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/3_cartoon_network.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/4_BBC_news.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/5_CNN.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/6_warner_TV.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/7_bbc_earth.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/8_bbc_lifestyle.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/9_red_HBO.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/10_Cinemaworld.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/11_toonami.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/12_bloomberg.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/13_Australia_Plus.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/16_dw.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/19_cinemax.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/17_Fox_sports.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/18_Fox_sports_2.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>

						</div>
						-->
						<h3 class="title">Kênh VTC</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_vtc/icon_channel_vtc1_14567301764.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <!--
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc2_145673009926.jpg" alt=""/></a>
						  </div>
						  -->
									<div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/1.jpg" alt=""/></a>
						  </div>
						  <!--
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc5_145673010995.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc6_145673012197.jpg" alt=""/></a>
						  </div>
							-->		
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc8_145792090102.jpg" alt=""/></a>
						  </div>

						  

						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc10_145673016157.jpg" alt=""/></a>
						  </div>
									<div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/4.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc12_14579482854.jpg" alt=""/></a>
						  </div>
						  
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc14-hd_145872429811.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc16_14567301998.jpg" alt=""/></a>
						  </div>
						  <!--
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_binh-duong-4-hd_146312577314.png" alt=""/></a>
						  </div>
						  -->






						</div>
						<!--
						<h3 class="title">Kênh MobiTV</h3>
						
						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_mobi_tv/icon_channel_mien-tay_145578714821.png" alt=""/>
								<div class="key"><i class="fa fa-lock"></i></div>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/antg.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/icon_channel_sam_145672992973.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/icon_channel_vietteen_145578607357.png" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/ncm.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/icon_channel_phim-hay_145578239355.png" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>

						</div>
						-->
						<h3 class="title">Kênh Địa Phương</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hanoitv-1_145672747757.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hanoitv-2_145672748742.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-duong-1_145672698207.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-duong-2_14567269985.jpg" alt=""/>
							</a>
						  </div>
						  
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_dong-nai-1_145672731448.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_dong-nai-2_145672732517.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-phuoc_14588060598.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-phuoc-2_145880693943.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_an-giang_145578823421.png" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_bac-lieu_145881130802.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_ben-tre_14588084926.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hau-giang_145673319528.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_dong-thap_145880869744.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_tien-giang_145734128144.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_tra-vinh_145880827066.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/2.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_long-an_145880901975.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_bac-ninh_145880754588.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hai-phong_14567275037.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_quang-ninh-1_145672976024.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hung-yen_145880734258.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_lang-son_145880895824.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_yen-bai_145880728083.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_tuyen-quang_145673727398.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hoa-binh_145681701391.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_ninh-binh_145672792288.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_thanh-hoa_145828820204.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_nghe-an_145578842534.png" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_quang-binh-tv_145734126864.jpg" alt=""/>
							</a>
						  </div>
						  <!--
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_quang-tri_145880945461.jpg" alt=""/>
							</a>
						  </div>
						  -->
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/3.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_gia-lai_145673242156.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_thai-nguyen_145880748867.jpg" alt=""/>
							</a>
						  </div>
						  <!--
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_lam-dong_145880770362.jpg" alt=""/>
							</a>
						  </div>
						  
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_quang-ngai_146362646218.jpg" alt=""/>
							</a>
						  </div>
						  -->
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-thuan_145880841033.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_ba-ria-vung-tau_145672972069.jpg" alt=""/>
							</a>
						  </div>
						 
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_khanh-hoa_145672791198.jpg" alt=""/>
							</a>
						  </div>
						 
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_kien-giang_145880815375.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_can-tho_145672728114.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hai-duong_145880941298.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_VOVTV.jpg" alt=""/>
							</a>
						  </div>


					   </div>

						<h3 class="title">Kênh Phát thanh</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_phat_thanh/1.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/2.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/3.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/4-vov5.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/5.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/6.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/7.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/17-fm-hanoi.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/18_FM-SG-99-9.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/19_FM-SG-96-5.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/20_FMDN.jpg" alt=""/></a>
						  </div>


						</div>

				
		
				</div><!-- /#tab1 -->
				
				<div class="tab-pane fade" id="tab2">
   						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6"><img src="images/banner-goi-caocap.png" class="img-responsive"/></div>
							<div class="col-md-3"></div>
						</div>	
   						
   	
						<h3 class="title">Kênh thiết yếu</h3>

						<div id="Gallery">
							<div class="gallery-item">
							<a href="">
								<img src="images/kenh_thiet_yeu/icon_channel_quoc-phong-vn_145673312681.jpg" alt=""/>
							</a>
						  </div>
						   <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/icon_channel_quoc-hoi-hd_145578230854.png" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_thiet_yeu/icon_channel_antv_145673317781.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/1.jpg" alt=""/></a>
						  </div>
						   <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/icon_channel_truyen-hinh-nhan-dan_146882755673.jpg" alt=""/></a>
						  </div>

						  <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/icon_channel_vtv1-hd_148005282771.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_thiet_yeu/icon_channel_vtc1_14567301764.jpg" alt=""/></a>
						  </div>




						</div>

						<h3 class="title">Kênh VTV</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_vtv/icon_channel_vtv1-hd_148005282771.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/icon_channel_vtv2_148005172028.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/icon_channel_vtv3-hd_148005281932.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/icon_channel_vtv4_145673033292.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/1.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/icon_channel_vtv6-hd_148005285048.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>

						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/2.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>

						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/icon_channel_vtv8-hd_14581020649.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtv/icon_channel_vtv9_145673031799.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>



						</div>

						<h3 class="title">Kênh HTV-HTVC</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_htv_htvc/icon_channel_htv1_145672763786.jpg" alt=""/>

							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htv2_145672764721.jpg" alt=""/>
								<div class="key"><i class="fa fa-lock"></i></div>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htv3_145672766359.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htv4_145672776087.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htv7-hd_14567276911.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htv9-hd_146841310555.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htvc-the-thao_145578270105.png" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/2.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htvc-movie-hd_145672772885.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/4.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_fbnc_145672745919.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htvc-du-lich_145578790177.png" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						   <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htvc-phu-nu_145672974528.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htvc-gia-dinh_14557859914.png" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htvc-thuan-viet-hd_145578232318.png" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/icon_channel_htvc-thuan-viet-sd_145578233591.png" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/5.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_htv_htvc/3.jpg" alt=""/></a>
						  </div>




						</div>

						<h3 class="title">Kênh Nước Ngoài</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_nuoc_ngoai/1_axn.jpg" alt=""/>
								<div class="key"><i class="fa fa-lock"></i></div>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/2_fashionTV.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/3_cartoon_network.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/4_BBC_news.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/5_CNN.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/6_warner_TV.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/7_bbc_earth.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/8_bbc_lifestyle.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/9_red_HBO.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/10_Cinemaworld.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/11_toonami.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/12_bloomberg.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/13_Australia_Plus.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/16_dw.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/19_cinemax.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/17_Fox_sports.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/18_Fox_sports_2.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/22_starmovie_HD.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/23_starworld_HD.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/24_national_HD.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/25_MTV.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/26_zeeTV.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/27_ksb_world.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_nuoc_ngoai/28_ChanelV_HD.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>

						</div>

						<h3 class="title">Kênh VTC</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_vtc/icon_channel_vtc1_14567301764.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <!--
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc2_145673009926.jpg" alt=""/></a>
						  </div>
						  -->
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc3-hd_145673013407.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
									<div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/1.jpg" alt=""/></a>
						  </div>
						  <!--
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc5_145673010995.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc6_145673012197.jpg" alt=""/></a>
						  </div>
						  -->
									<div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/2.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc8_145792090102.jpg" alt=""/></a>
						  </div>

						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/3.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>

						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc10_145673016157.jpg" alt=""/></a>
						  </div>
									<div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/4.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc12_14579482854.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/5.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_itv_145578605209.png" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc14-hd_145872429811.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_vtc16_14567301998.jpg" alt=""/></a>
						  </div>
						  <!--
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_vtc/icon_channel_binh-duong-4-hd_146312577314.png" alt=""/></a>
						  </div>
						  -->






						</div>

						<h3 class="title">Kênh MobiTV</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_mobi_tv/icon_channel_mien-tay_145578714821.png" alt=""/>
								<div class="key"><i class="fa fa-lock"></i></div>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/antg.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/icon_channel_sam_145672992973.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/icon_channel_vietteen_145578607357.png" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/ncm.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_mobi_tv/icon_channel_phim-hay_145578239355.png" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>

						</div>

						<h3 class="title">Kênh Địa Phương</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hanoitv-1_145672747757.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hanoitv-2_145672748742.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_vinh-long-1_145673001289.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_vinh-long-2_145673002208.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-duong-1_145672698207.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-duong-2_14567269985.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/binhduong_4.jpg" alt=""/>
								<div class="key"><i class="fa fa-lock"></i></div>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_dong-nai-1_145672731448.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_dong-nai-2_145672732517.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-phuoc_14588060598.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-phuoc-2_145880693943.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_an-giang_145578823421.png" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_bac-lieu_145881130802.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_ben-tre_14588084926.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hau-giang_145673319528.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_dong-thap_145880869744.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_tien-giang_145734128144.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_tra-vinh_145880827066.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/2.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_long-an_145880901975.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_bac-ninh_145880754588.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hai-phong_14567275037.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_quang-ninh-1_145672976024.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hung-yen_145880734258.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_lang-son_145880895824.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_yen-bai_145880728083.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_tuyen-quang_145673727398.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hoa-binh_145681701391.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_ninh-binh_145672792288.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_thanh-hoa_145828820204.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_nghe-an_145578842534.png" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_quang-binh-tv_145734126864.jpg" alt=""/>
							</a>
						  </div>
						   <!--
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_quang-tri_145880945461.jpg" alt=""/>
							</a>
						  </div>
						  -->
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/3.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_gia-lai_145673242156.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_thai-nguyen_145880748867.jpg" alt=""/>
							</a>
						  </div>
						   <!--
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_lam-dong_145880770362.jpg" alt=""/>
							</a>
						  </div>
						 
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_quang-ngai_146362646218.jpg" alt=""/>
							</a>
						  </div>
						  -->
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_binh-thuan_145880841033.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_ba-ria-vung-tau_145672972069.jpg" alt=""/>
							</a>
						  </div>
						 
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_khanh-hoa_145672791198.jpg" alt=""/>
							</a>
						  </div>
						 
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_kien-giang_145880815375.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_can-tho_145672728114.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_hai-duong_145880941298.jpg" alt=""/>
							</a>
						  </div>
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_dia_phuong/icon_channel_VOVTV.jpg" alt=""/>
							</a>
						  </div>


					   </div>

						<h3 class="title">Kênh Phát thanh</h3>

						<div id="Gallery">
						  <div class="gallery-item">
							<a href="">
								<img src="images/kenh_phat_thanh/1.jpg" alt=""/>
								<!-- <div class="key"><i class="fa fa-lock"></i></div> -->
							</a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/2.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/3.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/4-vov5.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/5.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/6.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/7.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/8.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/9.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/10.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/11.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/12.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/13.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/16.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/14.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/15.jpg" alt=""/><div class="key"><i class="fa fa-lock"></i></div></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/17-fm-hanoi.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/18_FM-SG-99-9.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/19_FM-SG-96-5.jpg" alt=""/></a>
						  </div>
						  <div class="gallery-item">
							<a href=""><img src="images/kenh_phat_thanh/20_FMDN.jpg" alt=""/></a>
						  </div>


						</div>
				</div><!-- /#tab2 -->
				
			</div><!-- /.tab-content -->
			
    	</div><!-- /.container -->
	</section>
  
  
  
  <div class="footer">
  		<div class="content-1" style="padding-bottom:20px;">
        	<div class="row">
            	<div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Giới thiệu</h3>
                    <ul>
                    	<li><i class="fa fa-map-marker"></i> 124 - Hoàng Quốc Việt, Cầu Giấy, HN</li>
                        <li><i class="fa fa-phone"></i> Điện thoại: 1900 1525 - (+84) 4 3750 6666</li>
                        <li><i class="fa fa-fax"></i> Fax: (+84) 4 3784 0925</li>
                        <li><i class="fa fa-globe"></i> Website: <a href="http://www.vnpt-technology.vn">www.vnpt-technology.vn</a></li>
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Dịch vụ</h3>
                    <ul>
                    	<li><i class="fa fa-caret-right"></i> Truyền Hình</li>            
                        <li><i class="fa fa-caret-right"></i> Phim</li>
                        <li><i class="fa fa-caret-right"></i> Truyền Hình Xem Lại</li>
                        <li><i class="fa fa-caret-right"></i> Radio</li>
                        <li><i class="fa fa-caret-right"></i> Karaoke</li>
                        <li><i class="fa fa-caret-right"></i> Âm Nhạc</li>
                        
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<ul style="margin-top:60px;">
                    	<li><i class="fa fa-caret-right"></i> Clip</li>            
                        <li><i class="fa fa-caret-right"></i> App Store</li>
                        <li><i class="fa fa-caret-right"></i> Góc Gia Đình</li>
                        <li><i class="fa fa-caret-right"></i> Góc Giáo Dục</li>
                        <li><i class="fa fa-caret-right"></i> Góc Cho Bé</li>
                        <li><i class="fa fa-caret-right"></i> Góc Người Cao Tuồi</li>
                        
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Hỗ trợ</h3>
                    <ul>
                    	<li><i class="fa fa-caret-right"></i> Hướng dẫn sử dụng</li>            
                        <li><i class="fa fa-caret-right"></i> Danh sách đại lý</li>
                        <li><i class="fa fa-caret-right"></i> Bảo hành</li>
                        <li><i class="fa fa-caret-right"></i> Đặt hàng</li>
                    </ul>
                    
                    <p class="social"><i class="fa fa-facebook-square"></i> <i class="fa fa-youtube-square"></i> <i class="fa fa-twitter-square"></i> <i class="fa fa-google-plus-square"></i> </p>
                 </div>
            </div>
        </div>
  </div>
  <div class="footer-bottom">
  		<p>2017 Copyright © TVOD</p>
  </div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>

</body>
</html>
