
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="youngpilots.vn,youngpilots,design,website,web design,mobile,mobile web,ecommerce,e-commerce,android,iphone,ios,graphics,portfolio,app,app design,thiet ke,thiết kế" name="keywords">
<meta content="My name is Duc Anh, Alot of my friends call me or know me as Anh Bui. I am a Graphic Designer and front-end developer living on the beautiful Hanoi city of Vietnam, and I am very passionate about what I do. I hope you like my works and I would definitely love to hear from you! Email: mr.anhbui69@gmail.com. Portfolio: https://www.behance.net/buiducanh . Website: http://youngpilots.vn" name="description">
<title>TVoD.vn</title>
  
  
  
    
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet prefetch" href="css/bootstrap.min.css">
    <link href="css/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.css">
    
    <link rel="stylesheet" href="css/responsive.css">
    

  
</head>

<body>
   <header class="main_h sticky">

      <section class="head-content">

        <a class="logo" href="#"><img src="images/TVoD.png" class="svg-logo" /></a>

      <div class="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="header-navigation responsive-header">

        <div class="center-menu-content">

          <div class="close-about-section">
            <svg class="svg-close" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" viewBox="0 0 1024 1024">
              <g id="icomoon-ignore">
              </g>
              <path d="M626.784 512.032l195.072 195.072c12.672 12.672 12.672 33.248 0 45.92l-68.832 68.832c-12.672 12.672-33.216 12.672-45.92 0l-195.104-195.072-195.104 195.072c-12.672 12.672-33.216 12.672-45.888 0l-68.864-68.832c-12.672-12.672-12.672-33.216 0-45.92l195.104-195.072-195.104-195.104c-12.672-12.672-12.672-33.248 0-45.92l68.896-68.832c12.672-12.672 33.216-12.672 45.888 0l195.072 195.104 195.104-195.104c12.672-12.672 33.216-12.672 45.92 0l68.832 68.864c12.672 12.672 12.672 33.216 0 45.92l-195.072 195.072z"></path>
            </svg>
          </div>
          <nav>

            <ul>
              <li><a href="index.html">Trang chủ</a></li>
              <li><a href="live.html">Truyền hình</a></li>
              <li><a href="index.html">Nội dung</a></li>
              <li><a href="guide.html">Hướng dẫn</a></li>
              <li><a href="index.html">Khuyến mại</a></li>
              <li><a href="index.html">Liên hệ</a></li>
              <li><a href="acc.html" class="current">Tài khoản</a></li>
            </ul> 

          </nav>
        </div>
      </div>
    </section>

  </header>


	<div class="link_map">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="acc.html">Tài khoản</a></li>
                <li class="active">Nạp tiền</li>
            </ol>
        </div>
    </div>
    
    
    
    <div class="bg-acc mt20">
    	<div class="container acc-page">
    		<h3>Nạp tiền</h3>
    		<div class="container">
    			<div class="col-md-1"></div>
    			<div class="col-md-10 recharge-page">
    				<h6>Quý khách vui lòng lựa chọn hình thức nạp tiền và điền đầy đủ thông tin theo yêu cầu</h6>
    				
    				
    				<ul class="nav nav-tabs recharge-tab" role="tablist" id="myTab">
						<li class="active">
							<a href="#tab1" role="tab" data-toggle="tab">Thẻ cào TVoD</a>
						</li>
						<li>
							<a href="#tab2" role="tab" data-toggle="tab">Thẻ cào điện thoại</a>
						</li>
						<li>
							<a href="#tab3" role="tab" data-toggle="tab">Thẻ ATM</a>
						</li>
						<li>
							<a href="#tab4" role="tab" data-toggle="tab">Thẻ thanh toán quốc tế</a>
						</li>
					</ul>
					<div class="tab-content ">
						<div class="tab-pane fade in active recharge-tab-content" id="tab1">
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<form>
										<span class="alert bg_green"><i class="fa fa-check-circle" aria-hidden="true"></i>Quý khách đã nạp tiền thành công</span>
         								<span class="alert bg_red"><i class="fa fa-times"></i>Mã thẻ không đúng. Quy khách vui lòng nhập lại.</span>
										<div class="form-group">
											<label for="tvod-code">Mã thẻ cào</label>
											<input type="text" class="form-control" id="tvod-code" placeholder="Nhập mã thẻ cào dịch vụ TVoD">
									  	</div>
									  	
									  	<div class="row the-tvod">
									  		<div class="col-md-4"><img src="images/recharge/the-tvod-100.png" class="img-responsive"/></div>
									  		<div class="col-md-4"><img src="images/recharge/the-tvod-200.png" class="img-responsive"/></div>
									  		<div class="col-md-4"><img src="images/recharge/the-tvod-500.png" class="img-responsive"/></div>
									  	</div>
									  	<div class="btn-recharge">
											<button type="button" class="btn btn-primary">Xác nhận</button>
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
										</div>
									</form>
								</div>
								<div class="col-md-2"></div>
							</div>
						</div>
						<!-- /#tab1 -->
						<div class="tab-pane fade recharge-tab-content" id="tab2">
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<form>
										<span class="alert bg_red"><i class="fa fa-times"></i>Số seri không hợp lệ, vui lòng nhập lại</span>
										<!--
										<br/>
										
										<span class="alert bg_red"><i class="fa fa-times"></i>Mã thẻ không hợp lệ, vui lòng nhập lại</span>
										-->
										<div class="form-group">
											<label>Chọn loại thẻ cào</label>
											<select class="form-control">
											  <option>Vinaphone</option>
											  <option>MobiFone</option>
											  <option>Viettel</option>
											</select>
  										</div>
										<div class="form-group">
											<label>Nhập số seri:</label>
											<input type="text" class="form-control err_inp" placeholder="Nhập số seri thẻ cào">
									  	</div>
									  	<div class="form-group">
											<label>Nhập mã thẻ:</label>
											<input type="text" class="form-control" placeholder="Nhập mã thẻ cào">
									  	</div>
									</form>
									<div class="btn-recharge">
										<button type="button" class="btn btn-primary">Xác nhận</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
						</div>
						<!-- /#tab2 -->
						<div class="tab-pane fade recharge-tab-content" id="tab3">
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<form>
										<p>Vui lòng lựa chọn ngân hàng bạn sử dụng.</p>
										<span class="alert bg_red"><i class="fa fa-times"></i>Bạn chưa chọn ngân hàng.</span>
									
										
										<div class="form-group">
											<label>Chọn số tiền nạp</label>
											<select class="form-control">
											  <option>500.000 VNĐ</option>
											  <option>300.000 VNĐ</option>
											  <option>100.000 VNĐ</option>
											</select>
  										</div>
  										
  										<ul class="bank">
											<li><a title="Vietcombank" alt="Vietcombank" href="" class="li-bank" data-atm-id="1"><img src="images/bank/123PVCB.jpg" alt=""></a></li>
											<li><a title="Sacombank" alt="Sacombank" href="" class="li-bank" data-atm-id="2"><img src="images/bank/123PSCB.jpg" alt=""></a></li>
											<li><a title="ACB" alt="ACB" href="" class="li-bank" data-atm-id="3"><img src="images/bank/123PACB.jpg" alt=""></a></li>
											<li><a title="Vietinbank" alt="Vietinbank" href="" class="li-bank" data-atm-id="4"><img src="images/bank/123PVTB.jpg" alt=""></a></li>
											<li><a title="DongA Bank" alt="DongA Bank" href="" class="li-bank" data-atm-id="5"><img src="images/bank/123PDAB.jpg" alt=""></a></li>
											<li><a title="VIB" alt="VIB" href="" class="li-bank" data-atm-id="6"><img src="images/bank/123PVIB.jpg" alt=""></a></li>
											<li class="active"><a title="BIDV" alt="BIDV" href="" class="li-bank" data-atm-id="7"><img src="images/bank/123PBIDV.jpg" alt=""></a></li>
											<li><a title="TPBank" alt="TPBank" href="" class="li-bank" data-atm-id="8"><img src="images/bank/123PTPB.jpg" alt=""></a></li>
											<li><a title="VPBank" alt="VPBank" href="" class="li-bank" data-atm-id="9"><img src="images/bank/123PVPB.jpg" alt=""></a></li>
											<li><a title="Techcombank" alt="Techcombank" href="" class="li-bank" data-atm-id="10"><img src="images/bank/123PTCB.jpg" alt=""></a></li>
											<li><a title="Eximbank" alt="Eximbank" href="" class="li-bank" data-atm-id="11"><img src="images/bank/123PEIB.jpg" alt=""></a></li>
											<li><a title="Maritime Bank" alt="Maritime Bank" href="" class="li-bank" data-atm-id="12"><img src="images/bank/123PMRTB.jpg" alt=""></a></li>
											<li><a title="Agribank" alt="Agribank" href="" class="li-bank" data-atm-id="13"><img src="images/bank/123PAGB.jpg" alt=""></a></li>
											<li><a title="Quân Đội (MBBank)" alt="Quân Đội (MBBank)" href="" class="li-bank" data-atm-id="14"><img src="images/bank/123PMB.jpg" alt=""></a></li>
											<li><a title="SHB" alt="SHB" href="" class="li-bank" data-atm-id="15"><img src="images/bank/123PSHB.jpg" alt=""></a></li>
											<li><a title="SeABank" alt="SeABank" href="" class="li-bank" data-atm-id="16"><img src="images/bank/123PSEAB.jpg" alt=""></a></li>
											<li><a title="HDBank" alt="HDBank" href="" class="li-bank" data-atm-id="17"><img src="images/bank/123PHDB.jpg" alt=""></a></li>
											<li><a title="Việt Á" alt="Việt Á" href="" class="li-bank" data-atm-id="18"><img src="images/bank/123PVAB.jpg" alt=""></a></li>
											<li><a title="OceanBank" alt="OceanBank" href="" class="li-bank" data-atm-id="19"><img src="images/bank/123POCEB.jpg" alt=""></a></li>
											<li><a title="OCB" alt="OCB" href="" class="li-bank" data-atm-id="20"><img src="images/bank/123POCB.jpg" alt=""></a></li>
											<li><a title="Bac A Bank" alt="Bac A Bank" href="" class="li-bank" data-atm-id="21"><img src="images/bank/123PBAB.jpg" alt=""></a></li>
											<li><a title="Nam A Bank" alt="Nam A Bank" href="" class="li-bank" data-atm-id="22"><img src="images/bank/123PNAB.jpg" alt=""></a></li>
											<li><a title="NCB" alt="NCB" href="" class="li-bank" data-atm-id="23"><img src="images/bank/123PNVB.jpg" alt=""></a></li>
											<li><a title="BaoVietBank" alt="BaoVietBank" href="" class="li-bank" data-atm-id="24"><img src="images/bank/123PBVB.jpg" alt=""></a></li>
											<li><a title="LienVietPostBank" alt="LienVietPostBank" href="" class="li-bank" data-atm-id="25"><img src="images/bank/123PLPB.jpg" alt=""></a></li>
											<li><a title="GPBank" alt="GPBank" href="" class="li-bank" data-atm-id="26"><img src="images/bank/123PGPB.jpg" alt=""></a></li>
											<li><a title="Saigonbank" alt="Saigonbank" href="" class="li-bank" data-atm-id="27"><img src="images/bank/123PSGB.jpg" alt=""></a></li>
											<li><a title="ABBANK" alt="ABBANK" href="" class="li-bank" data-atm-id="28"><img src="images/bank/123PABB.jpg" alt=""></a></li>
											<li><a title="PG Bank" alt="PG Bank" href="" class="li-bank" data-atm-id="31"><img src="images/bank/123PPGB.jpg" alt=""></a></li>
										</ul>
  										
  										
									</form>
									<div class="btn-recharge">
										<button type="button" class="btn btn-primary">Tiếp tục</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
						</div>
						<!-- /#tab3 -->
						<div class="tab-pane fade recharge-tab-content" id="tab4">
							
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<form>
										<p>Vui lòng lựa chọn thẻ thanh toán quốc tế.</p>
								
										<span class="alert bg_red"><i class="fa fa-times"></i>Bạn chưa chọn ngân hàng.</span>
										
										<div class="form-group">
											<label>Chọn số tiền nạp</label>
											<select class="form-control">
											  <option>500.000 VNĐ</option>
											  <option>300.000 VNĐ</option>
											  <option>100.000 VNĐ</option>
											</select>
  										</div>
  										
  										<ul class="bank">
											<li><a title="Visa" alt="Visa" href="" class="li-bank" data-atm-id="1"><img src="images/bank/the-visa.jpg" alt=""></a></li>
											<li><a title="JCB" alt="JCB" href="" class="li-bank" data-atm-id="2"><img src="images/bank/the-jcb.jpg" alt=""></a></li>
											<li class="active"><a title="Master" alt="Master" href="" class="li-bank" data-atm-id="3"><img src="images/bank/the-master.jpg" alt=""></a></li>
											<li><a title="American" alt="American" href="" class="li-bank" data-atm-id="4"><img src="images/bank/the-american.jpg" alt=""></a>
										</ul>
  										
  										
									</form>
									<div class="btn-recharge">
										<button type="button" class="btn btn-primary">Tiếp tục</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
							<!--
							<div class="row visa-new">
								<div class="col-md-1"></div>
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-7">
											<p>
												<span style="margin-right: 10px;">Nhập số thẻ mới</span>
												<span class="card-credit card-visa is-active"></span>
												<span class="card-credit card-mastercard is-active"></span>
												<span class="card-credit card-jcb is-active"></span>
											</p>
											<div class="form-group" id="div-card-num">
												<label for="card_number">Số thẻ:</label>
												<input type="text" class="form-control" id="card_number" name="card_number" placeholder="VD: 4123 4567 8901 2345" value="">
												<span class="help-block"></span>
											</div>
											<div class="form-group">
												<label for="bill_to_name">Tên in trên thẻ:</label>
												<input type="text" class="form-control" id="bill_to_name" name="bill_to_name" placeholder="vd: Nguyen Van A" value="">
											</div>
											<div class="form-group" id="select-card-date">
												<label for="">Ngày hết hạn:</label>
												<div class="end-date-cvc">
													<input type="text" id="card_expiry" class="form-control is-small-2 expiry-date-input-fake" value="" placeholder="MM/YY" autocomplete="off">
												</div>
												<span class="help-block"></span>
											</div>
											<div class="form-group">
												<label for="">Mã bảo mật:</label>
												<div class="end-date-cvc">
													<input type="text" class="form-control is-small-2" id="card_cvn" name="card_cvn" placeholder="VD: 123" value="" autocomplete="off">
													<i class="cvc-hint-icon"></i>
												</div>
												<span class="help-block"></span>
											</div>
										</div>
										<div class="col-md-5">
											<div class="credit-card-guide-wrap">
												<span class="credit-card-guide"></span>
												<p class="note">Vui lòng chú ý kiểm tra tin nhắn nếu có yêu cầu.</p>
											</div>
										</div>
										<div class="col-md-12">
											 <div class="form-check">
												<label class="form-check-label">
												  <input type="checkbox" class="form-check-input">
												  Lưu và bảo mật thẻ cho lần thanh toán sau
												</label>
											  </div>
											  <p style="margin-top: 5px"><i>TVoD không trực tiếp lưu thẻ của bạn. Để đảm bảo an toàn, thông tin thẻ của bạn chỉ được lưu bởi CyberSource, công ty quản lý thanh toán lớn nhất thế giới (thuộc tổ chức VISA)</i></p>
											  
											<div class="btn-recharge">
												<button type="button" class="btn btn-primary">Tiếp tục</button>
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-1"></div>
							</div>
							-->
							<!-- /.row -->
						</div>
						<!-- /#tab4 -->
					</div>
					<!-- /.tab-content -->
    			</div>
    			<div class="col-md-1"></div>
    			
    		</div>
    		
    	</div>
    </div>


  
  <div class="footer">
  		<div class="content-1" style="padding-bottom:20px;">
        	<div class="row">
            	<div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Giới thiệu</h3>
                    <ul>
                    	<li><i class="fa fa-map-marker"></i> 124 - Hoàng Quốc Việt, Cầu Giấy, HN</li>
                        <li><i class="fa fa-phone"></i> Điện thoại: 1900 1525 - (+84) 4 3750 6666</li>
                        <li><i class="fa fa-fax"></i> Fax: (+84) 4 3784 0925</li>
                        <li><i class="fa fa-globe"></i> Website: <a href="http://www.vnpt-technology.vn">www.vnpt-technology.vn</a></li>
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Dịch vụ</h3>
                    <ul>
                    	<li><i class="fa fa-caret-right"></i> Truyền Hình</li>            
                        <li><i class="fa fa-caret-right"></i> Phim</li>
                        <li><i class="fa fa-caret-right"></i> Truyền Hình Xem Lại</li>
                        <li><i class="fa fa-caret-right"></i> Radio</li>
                        <li><i class="fa fa-caret-right"></i> Karaoke</li>
                        <li><i class="fa fa-caret-right"></i> Âm Nhạc</li>
                        
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<ul style="margin-top:60px;">
                    	<li><i class="fa fa-caret-right"></i> Clip</li>            
                        <li><i class="fa fa-caret-right"></i> App Store</li>
                        <li><i class="fa fa-caret-right"></i> Góc Gia Đình</li>
                        <li><i class="fa fa-caret-right"></i> Góc Giáo Dục</li>
                        <li><i class="fa fa-caret-right"></i> Góc Cho Bé</li>
                        <li><i class="fa fa-caret-right"></i> Góc Người Cao Tuồi</li>
                        
                    </ul>
                 </div>
                 <div class="col_1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  	<h3 class="title1">Hỗ trợ</h3>
                    <ul>
                    	<li><i class="fa fa-caret-right"></i> Hướng dẫn sử dụng</li>            
                        <li><i class="fa fa-caret-right"></i> Danh sách đại lý</li>
                        <li><i class="fa fa-caret-right"></i> Bảo hành</li>
                        <li><i class="fa fa-caret-right"></i> Đặt hàng</li>
                    </ul>
                    
                    <p class="social"><i class="fa fa-facebook-square"></i> <i class="fa fa-youtube-square"></i> <i class="fa fa-twitter-square"></i> <i class="fa fa-google-plus-square"></i> </p>
                 </div>
            </div>
        </div>
  </div>
  <div class="footer-bottom">
  		<p>2017 Copyright © TVOD</p>
  </div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>

</body>
</html>
